<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <h1 class="display-1">404</h1>
                            <p class="lead">This requested URL was not found on this server.</p>
                            <a href="index.html">
                                <i class="fas fa-arrow-left mr-1"></i>
                                Return to main page
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>