<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h5>Cart for user with id: {{userId}}</h5>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="carts" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Product type</th>
                <th>Type</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr class="text-center">
                <td>{{this.manufacturer}}</td>
                <td>{{this.productType}}</td>
                <td>{{this.type}}</td>
                <td>{{this.price}}</td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Type</th>
                <th>Product type</th>
                <th>Type</th>
                <th>Price</th>
            </tr>
        </tfoot>
    </table>
</div>