{{#if admin}}
<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Computers</h1>
<h5>User role: {{role}} - can add items to cart, update and delete</h5>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="computers" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Procesor model</th>
                <th>Screen diagonal</th>
                <th>Graphic card type</th>
                <th>Ram memory</th>
                <th>HDD SSD</th>
                <th>Tags</th>
                <th>Price</th>
                <th>Add to cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each computers}}
            <tr class="text-center">
                <td>{{this.manufacturer}}</td>
                <td>{{this.type}}</a></td>
                <td>{{this.processorModel}}</td>
                <td>{{this.screenDiagonal}} GB</td>
                <td>{{this.graphicCardType}} GB</td>
                <td>{{this.ramMemory}}</td>
                <td>{{this.hdd_ssd}}</td>
                <td>
                    {{#each this.tags}}
                    <a href="#" class="w-100 alert alert-primary rounded p-0">{{this}}</a>
                    {{/each}}
                </td>
                <td>{{this.price}}</td>
                <td><a href="/cart/update/computer/{{this.computerId}}" class="btn btn-outline-secondary">add to
                        cart</a>
                </td>
                <td><a href="/api/computers/update/{{this.computerId}}" class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/computers/delete/{{this.computerId}}" method="delete"
                        class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Procesor model</th>
                <th>Screen diagonal</th>
                <th>Graphic card type</th>
                <th>Ram memory</th>
                <th>HDD SSD</th>
                <th>Tags</th>
                <th>Price</th>
                <th>Add to cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>
{{/if}}
{{#if seller}}
<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Computers</h1>
<h5>User role: {{role}} - can add items to cart, update and delete</h5>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="computers" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Procesor model</th>
                <th>Screen diagonal</th>
                <th>Graphic card type</th>
                <th>Ram memory</th>
                <th>HDD SSD</th>
                <th>Tags</th>
                <th>Price</th>
                <th>Add to cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each computers}}
            <tr class="text-center">
                <td>{{this.manufacturer}}</td>
                <td>{{this.type}}</a></td>
                <td>{{this.processorModel}}</td>
                <td>{{this.screenDiagonal}} GB</td>
                <td>{{this.graphicCardType}} GB</td>
                <td>{{this.ramMemory}}</td>
                <td>{{this.hdd_ssd}}</td>
                <td>
                    {{#each this.tags}}
                    <a href="#" class="w-100 alert alert-primary rounded p-0">{{this}}</a>
                    {{/each}}
                </td>
                <td>{{this.price}}</td>
                <td><a href="/cart/update/computer/{{this.computerId}}" class="btn btn-outline-secondary">add to
                        cart</a>
                </td>
                <td><a href="/api/computers/update/{{this.computerId}}" class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/computers/delete/{{this.computerId}}" method="delete"
                        class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Procesor model</th>
                <th>Screen diagonal</th>
                <th>Graphic card type</th>
                <th>Ram memory</th>
                <th>HDD SSD</th>
                <th>Tags</th>
                <th>Price</th>
                <th>Add to cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>
{{/if}}
{{#if buyer}}
<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Computers</h1>
<h5>User role: {{role}} - can add items to cart, but can't update and delete</h5>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="computers" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Procesor model</th>
                <th>Screen diagonal</th>
                <th>Graphic card type</th>
                <th>Ram memory</th>
                <th>HDD SSD</th>
                <th>Tags</th>
                <th>Price</th>
                <th>Add to cart</th>
            </tr>
        </thead>
        <tbody>
            {{#each computers}}
            <tr class="text-center">
                <td>{{this.manufacturer}}</td>
                <td>{{this.type}}</a></td>
                <td>{{this.processorModel}}</td>
                <td>{{this.screenDiagonal}} GB</td>
                <td>{{this.graphicCardType}} GB</td>
                <td>{{this.ramMemory}}</td>
                <td>{{this.hdd_ssd}}</td>
                <td>
                    {{#each this.tags}}
                    <a href="#" class="w-100 alert alert-primary rounded p-0">{{this}}</a>
                    {{/each}}
                </td>
                <td>{{this.price}}</td>
                <td><a href="/cart/update/computer/{{this.computerId}}" class="btn btn-outline-secondary">add to
                        cart</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Procesor model</th>
                <th>Screen diagonal</th>
                <th>Graphic card type</th>
                <th>Ram memory</th>
                <th>HDD SSD</th>
                <th>Tags</th>
                <th>Price</th>
                <th>Add to cart</th>
            </tr>
        </tfoot>
    </table>
</div>
{{/if}}