<div id="layoutAuthentication" class="text-dark">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{{title}}</h3>
                            </div>
                            <div class="card-body">
                                <form action="/api/create-update-computers" method="POST" class="row g-3">
                                     <input type="hidden" name="shopId" value="{{shopId}}">
                                    <input type="hidden" name="computerId" value="{{computerId}}">
                                    <input type="hidden" name="method" value="{{method}}">
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Manufacturer</label>
                                        <input type="text" name="manufacturer" class="form-control"
                                            value="{{computer.manufacturer}}"  required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Type</label>
                                        <input type="text" name="type" class="form-control" value="{{computer.type}}"
                                             required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Product type</label>
                                        <input type="text" name="productType" class="form-control" value="{{computer.productType}}"
                                             required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Subtype</label>
                                        <input type="text" name="subtype" class="form-control"
                                            value="{{computer.subtype}}"  required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Processor model</label>
                                        <input type="text" name="processorModel" class="form-control"
                                            value="{{computer.processorModel}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Screen diagonal</label>
                                        <input type="text" name="screenDiagonal" class="form-control"
                                            value="{{computer.screenDiagonal}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Graphic card type</label>
                                        <input type="text" name="graphicCardType" class="form-control"
                                            value="{{computer.graphicCardType}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Ram memory</label>
                                        <input type="number" name="ramMemory" class="form-control"
                                            value="{{computer.ramMemory}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">HDD SSD</label>
                                        <input type="text" name="hdd_ssd" class="form-control"
                                            value="{{computer.hdd_ssd}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Price</label>
                                        <input type="text" name="price" class="form-control" value="{{computer.price}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Tags</label>
                                        <input type="text" name="tags" class="form-control"
                                            value="{{computer.tags}}" required>
                                    </div>
                                    <div class="col-12 modal-footer">
                                        <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>