<h5>Shop id: {{shopId}}</h5>
<span class="p-2"></span>
<div class="border-top border-bottom">
    <div class="container mt-2 mb-2">
        <h3>Phones</h3>
        <div class="container p-2">
            <a href="/api/phones/show/{{shopId}}" class="btn btn-outline-secondary">Show all shop phones</a>
        </div>
        <div class="container p-2">
            <a href="/api/phones/create/{{shopId}}" class="btn btn-outline-secondary">Create new phone</a>
        </div>
    </div>
</div>
<span class="p-2"></span>
<div class="border-top border-bottom mb-4">
    <div class="container mt-2 mb-2">
        <h3>Computers</h3>
        <div class="container p-2">
            <a href="/api/computers/show/{{shopId}}" class="btn btn-outline-secondary">Show all shop computers</a>
        </div>
        <div class="container p-2">
            <a href="/api/computers/create/{{shopId}}" class="btn btn-outline-secondary">Create new computer</a>
        </div>
    </div>
</div>
<div class="border-top border-bottom mb-4">
    <div class="container mt-2 mb-2">
        <h3>TVs</h3>
        <div class="container p-2">
            <a href="/api/tvs/show/{{shopId}}" class="btn btn-outline-secondary">Show all shop TVs</a>
        </div>
        <div class="container p-2">
            <a href="/api/tvs/create/{{shopId}}" class="btn btn-outline-secondary">Create new TV</a>
        </div>
    </div>
</div>