<div id="layoutAuthentication" class="text-dark">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{{title}}</h3>
                            </div>
                            <div class="card-body">
                                <form action="/api/create-update-phones" method="POST" class="row g-3">
                                    <input type="hidden" name="phoneId" value="{{phoneId}}">
                                    <input type="hidden" name="shopId" value="{{shopId}}">
                                    <input type="hidden" name="method" value="{{method}}">
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Manufacturer</label>
                                        <input type="text" name="manufacturer" class="form-control"
                                            value="{{phone.manufacturer}}" {{readonly}} required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Type</label>
                                        <input type="text" name="type" class="form-control" value="{{phone.type}}"
                                            {{readonly}} required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Subtype</label>
                                        <input type="text" name="subtype" class="form-control"
                                            value="{{phone.subtype}}" {{readonly}} required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Screen diagonal</label>
                                        <input type="text" name="screenDiagonal" class="form-control"
                                            value="{{phone.screenDiagonal}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Ram memory</label>
                                        <input type="number" name="ramMemory" class="form-control"
                                            value="{{phone.ramMemory}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Internal memory</label>
                                        <input type="number" name="internalMemory" class="form-control"
                                            value="{{phone.internalMemory}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Camera</label>
                                        <input type="text" name="camera" class="form-control" value="{{phone.camera}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Batery capacity</label>
                                        <input type="text" name="bateryCapacity" class="form-control"
                                            value="{{phone.bateryCapacity}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Resolution</label>
                                        <input type="text" name="resolution" class="form-control"
                                            value="{{phone.resolution}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Screen type</label>
                                        <input type="text" name="screenType" class="form-control"
                                            value="{{phone.screenType}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Price</label>
                                        <input type="text" name="price" class="form-control" value="{{phone.price}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Tags</label>
                                        <input type="text" name="tags" class="form-control" value="{{phone.tags}}"
                                            required>
                                    </div>
                                    <div class="col-12 modal-footer">
                                        <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>