<div id="layoutAuthentication" class="text-dark">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{{title}}</h3>
                            </div>
                            <div class="card-body">
                                <form action="/api/create-update-shops" method="POST" class="row g-3">
                                    <input type="hidden" name="shopId" value="{{shop.shopId}}">
                                    <input type="hidden" name="method" value="{{method}}">
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Shop name</label>
                                        <input type="text" name="name" class="form-control"
                                            value="{{shop.name}}" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Street</label>
                                        <input type="text" name="street" class="form-control" value="{{shop.location.street}}"
                                         required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">City</label>
                                        <input type="text" name="city" class="form-control"
                                            value="{{shop.location.city}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">State</label>
                                        <input type="text" name="state" class="form-control"
                                            value="{{shop.location.state}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Postcode</label>
                                        <input type="text" name="postcode" class="form-control"
                                            value="{{shop.location.postcode}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Latitude</label>
                                        <input type="text" name="latitude" class="form-control"
                                            value="{{shop.location.coordinates.latitude}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Longitude</label>
                                        <input type="number" name="longitude" class="form-control"
                                            value="{{shop.location.coordinates.longitude}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Offset</label>
                                        <input type="text" name="offset" class="form-control"
                                            value="{{shop.location.timezone.offset}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Description</label>
                                        <input type="text" name="description" class="form-control" value="{{shop.location.timezone.description}}"
                                            required>
                                    </div>
                                    <div class="col-12 modal-footer">
                                        <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>