<div id="layoutAuthentication" class="text-dark">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{{title}}</h3>
                            </div>
                            <div class="card-body">
                                <form action="/api/create-update-tvs" method="POST" class="row g-3">
                                    <input type="hidden" name="shopId" value="{{shopId}}">
                                    <input type="hidden" name="method" value="{{method}}">
                                    <input type="hidden" name="tvId" value="{{tv.tvId}}">
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Manufacturer</label>
                                        <input type="text" name="manufacturer" class="form-control"
                                            value="{{tv.manufacturer}}" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Type</label>
                                        <input type="text" name="type" class="form-control" value="{{tv.type}}"
                                            required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Product type</label>
                                        <input type="text" name="productType" class="form-control"
                                            value="{{tv.productType}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Subtype</label>
                                        <input type="text" name="subtype" class="form-control" value="{{tv.subtype}}"
                                            required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Screen type</label>
                                        <input type="text" name="screenType" class="form-control"
                                            value="{{tv.screenType}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Screen diagonal</label>
                                        <input type="text" name="screenDiagonal" class="form-control"
                                            value="{{tv.screenDiagonal}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Resolution</label>
                                        <input type="text" name="resolution" class="form-control"
                                            value="{{tv.resolution}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Digital tuner</label>
                                        <input type="text" name="digitalTuner" class="form-control"
                                            value="{{tv.digitalTuner}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Operative system</label>
                                        <input type="text" name="operativeSystem" class="form-control"
                                            value="{{tv.operativeSystem}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Price</label>
                                        <input type="text" name="price" class="form-control" value="{{tv.price}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Tags</label>
                                        <input type="text" name="tags" class="form-control" value="{{tv.tags}}"
                                            required>
                                    </div>
                                    <div class="col-12 modal-footer">
                                        <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>