<style>
    .border-3 {
        border-width: 3px !important;
    }
</style>
<div class="container text-center mt-4 mb-4">
    <h2>MongoDB - homework III</h2>
    {{#if alertType}}
    <div class="alert alert-{{alertType}}" role="alert">
        {{msg}}
    </div>
    {{#if status}}
    <div class="alert alert-{{alertType}}" role="alert">
        {{status}}
    </div>
    {{/if}}
    {{/if}}
</div>
<div class="border-top border-bottom border-3">
    <div class="row">
        {{#if notlogged}}
        <div class="col-md-1 container mt-2 mb-2">
            <div class="container p-2 w-100">
                <a href="/api/login" class="btn btn-outline-secondary">Login</a>
            </div>
        </div>
        <div class="col-md-1 container mt-2 mb-2">
            <div class="container p-2 w-100">
                <a href="/api/register" class="btn btn-outline-secondary">Register</a>
            </div>
        </div>
        {{/if}}

        {{#if logged}}
        <div class="col-md-1 container mt-2 mb-2">
            <div class="container p-2 w-100">
                <a href="/api/signout" class="btn btn-outline-secondary">Sign out</a>
            </div>
        </div>
        {{/if}}
        <div class="col-md-10 container mt-2 mb-2">
            <div class="mt-3"></div>
        </div>
    </div>

</div>
{{#if logged}}
<div class="border-top border-bottom border-3">
    <div class="row">
        <div class="col-md-1 container mt-2 mb-2">
            <div class="container p-2 w-100">
                <a href="/api/deleteDatabase" class="btn btn-outline-secondary">Delete</a>
            </div>
        </div>
        <div class="col-md-11 container mt-2 mb-2">
            <div class="mt-3">Delete all data from database</div>
        </div>
    </div>
</div>
<div class="border-top border-bottom">
    <div class="container mt-2 mb-2">
        <h3>Users</h3>
        <div class="container p-2">
            <a href="/api/users" class="btn btn-outline-secondary">Show all users</a>
        </div>
    </div>
</div>
<span class="p-2"></span>
<div class="border-top border-bottom">
    <div class="container mt-2 mb-2">
        <h3>Shops</h3>
        <div class="container p-2">
            <a href="/api/shops" class="btn btn-outline-secondary">Show all shops</a>
        </div>
    </div>
</div>
<span class="p-2"></span>
<div class="border-top border-bottom">
    <div class="container mt-2 mb-2">
        <h3>Phones</h3>
        <div class="container p-2">
            <a href="/api/phones" class="btn btn-outline-secondary">Show all phones</a>
        </div>
    </div>
</div>
<span class="p-2"></span>
<div class="border-top border-bottom mb-4">
    <div class="container mt-2 mb-2">
        <h3>Computers</h3>
        <div class="container p-2">
            <a href="/api/computers" class="btn btn-outline-secondary">Show all computers</a>
        </div>
    </div>
</div>
<div class="border-top border-bottom mb-4">
    <div class="container mt-2 mb-2">
        <h3>TVs</h3>
        <div class="container p-2">
            <a href="/api/tvs" class="btn btn-outline-secondary">Show all TVs</a>
        </div>
    </div>
</div>
{{/if}}