{{#if admin}}
<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Phones</h1>
<h5>User role: {{role}} - can add items to cart and update and delete</h5>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="phones" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Screen diagonal</th>
                <th>Ram memory</th>
                <th>Internal memory</th>
                <th>Camera</th>
                <th>Batery capacity</th>
                <th>Resolution</th>
                <th>Screen type</th>
                <th>Price</th>
                <th>Tags</th>
                <th>Add to cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each phones}}
            <tr class="text-center">
                <td>{{this.manufacturer}}</td>
                <td>{{this.type}}</a></td>
                <td>{{this.screenDiagonal}}</td>
                <td>{{this.ramMemory}} GB</td>
                <td>{{this.internalMemory}} GB</td>
                <td>{{this.camera}}</td>
                <td>{{this.bateryCapacity}}</td>
                <td>{{this.resolution}}</td>
                <td>{{this.screenType}}</td>
                <td>{{this.price}}</td>
                <td>
                    {{#each this.tags}}
                    <a href="#" class="w-100 alert alert-primary rounded p-0 disable">{{this}}</a>
                    {{/each}}
                </td>
                <td><a href="/cart/update/phone/{{this.phoneId}}" class="btn btn-outline-secondary">add to cart</a>
                </td>
                <td><a href="/api/phones/update/{{this.phoneId}}" class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/phones/delete/{{this.phoneId}}" method="delete"
                        class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Screen diagonal</th>
                <th>Ram memory</th>
                <th>Internal memory</th>
                <th>Camera</th>
                <th>Batery capacity</th>
                <th>Resolution</th>
                <th>Screen type</th>
                <th>Price</th>
                <th>Tags</th>
                <th>Add to cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>
{{/if}}
{{#if seller}}
<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Phones</h1>
<h5>User role: {{role}} - can add items to cart, update and delete</h5>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="phones" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Screen diagonal</th>
                <th>Ram memory</th>
                <th>Internal memory</th>
                <th>Camera</th>
                <th>Batery capacity</th>
                <th>Resolution</th>
                <th>Screen type</th>
                <th>Price</th>
                <th>Tags</th>
                <th>Add to cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each phones}}
            <tr class="text-center">
                <td>{{this.manufacturer}}</td>
                <td>{{this.type}}</a></td>
                <td>{{this.screenDiagonal}}</td>
                <td>{{this.ramMemory}} GB</td>
                <td>{{this.internalMemory}} GB</td>
                <td>{{this.camera}}</td>
                <td>{{this.bateryCapacity}}</td>
                <td>{{this.resolution}}</td>
                <td>{{this.screenType}}</td>
                <td>{{this.price}}</td>
                <td>
                    {{#each this.tags}}
                    <a href="#" class="w-100 alert alert-primary rounded p-0 disable">{{this}}</a>
                    {{/each}}
                </td>
                <td><a href="/cart/update/phone/{{this.phoneId}}" class="btn btn-outline-secondary">add to cart</a>
                </td>
                <td><a href="/api/phones/update/{{this.phoneId}}" class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/phones/delete/{{this.phoneId}}" method="delete"
                        class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Screen diagonal</th>
                <th>Ram memory</th>
                <th>Internal memory</th>
                <th>Camera</th>
                <th>Batery capacity</th>
                <th>Resolution</th>
                <th>Screen type</th>
                <th>Price</th>
                <th>Tags</th>
                <th>Add to cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>
{{/if}}
{{#if buyer}}
<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Phones</h1>
<h5>User role: {{role}} - can add items to cart, but can't update and delete</h5>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="phones" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Screen diagonal</th>
                <th>Ram memory</th>
                <th>Internal memory</th>
                <th>Camera</th>
                <th>Batery capacity</th>
                <th>Resolution</th>
                <th>Screen type</th>
                <th>Price</th>
                <th>Tags</th>
                <th>Add to cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each phones}}
            <tr class="text-center">
                <td>{{this.manufacturer}}</td>
                <td>{{this.type}}</a></td>
                <td>{{this.screenDiagonal}}</td>
                <td>{{this.ramMemory}} GB</td>
                <td>{{this.internalMemory}} GB</td>
                <td>{{this.camera}}</td>
                <td>{{this.bateryCapacity}}</td>
                <td>{{this.resolution}}</td>
                <td>{{this.screenType}}</td>
                <td>{{this.price}}</td>
                <td>
                    {{#each this.tags}}
                    <a href="#" class="w-100 alert alert-primary rounded p-0 disable">{{this}}</a>
                    {{/each}}
                </td>
                <td><a href="/cart/update/phone/{{this.phoneId}}" class="btn btn-outline-secondary">add to cart</a>
                </td>
                <td><a href="/api/phones/update/{{this.phoneId}}" class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/phones/delete/{{this.phoneId}}" method="delete"
                        class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Screen diagonal</th>
                <th>Ram memory</th>
                <th>Internal memory</th>
                <th>Camera</th>
                <th>Batery capacity</th>
                <th>Resolution</th>
                <th>Screen type</th>
                <th>Price</th>
                <th>Tags</th>
                <th>Add to cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>
{{/if}}