<div id="layoutAuthentication" class="text-dark">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container mb-4">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{{title}}</h3>
                            </div>
                            {{#if alertType}}
                            <div class="text-center alert alert-{{alertType}}" role="alert">
                                {{msg}}
                            </div>
                            {{#if status}}
                            <div class="text-center alert alert-{{alertType}}" role="alert">
                                {{status}}
                            </div>
                            {{/if}}
                            {{/if}}
                            <div class="card-body">
                                <form action="/api/register" method="POST" class="row g-3">
                                    <input type="hidden" name="id" value="{{user.userId}}">
                                    <input type="hidden" name="api_key" value="{{user.api_key}}">
                                    <input type="hidden" name="method" value="{{method}}">
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Username</label>
                                        <input type="text" name="username" class="form-control"
                                            value="{{user.username}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Password</label>
                                        <input type="text" name="password" class="form-control"
                                            value="{{user.password}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <div class="container-fluid">
                                            <label for="validationDefault03" class="form-label">Role</label>
                                            <div class="col">
                                                <input type="radio" name="role" value="buyer" checked> Buyer<br>
                                                <input type="radio" name="role" value="seller"> Seller<br>
                                                <input type="radio" name="role" value="admin"> Admin
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Title</label>
                                        <input type="text" name="title" class="form-control" value="{{user.name.title}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">First name</label>
                                        <input type="text" name="firstName" class="form-control"
                                            value="{{user.name.firstName}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Last name</label>
                                        <input type="text" name="lastName" class="form-control"
                                            value="{{user.name.lastName}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Nationality</label>
                                        <input type="text" name="nationality" class="form-control"
                                            value="{{user.nationality}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <div class="container-fluid">
                                            <label for="validationDefault03" class="form-label">Gender</label>
                                            <div class="col">
                                                <input type="radio" name="gender" value="male" checked> Male<br>
                                                <input type="radio" name="gender" value="female"> Female<br>
                                                <input type="radio" name="gender" value="other"> Other
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Email</label>
                                        <input type="text" name="email" class="form-control" value="{{user.email}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Street</label>
                                        <input type="text" name="street" class="form-control"
                                            value="{{user.location.street}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">City</label>
                                        <input type="text" name="city" class="form-control"
                                            value="{{user.location.city}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">State</label>
                                        <input type="text" name="state" class="form-control"
                                            value="{{user.location.state}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Postcode</label>
                                        <input type="text" name="postcode" class="form-control"
                                            value="{{user.location.postcode}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Latitude</label>
                                        <input type="text" name="latitude" class="form-control"
                                            value="{{user.location.coordinates.latitude}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Longitude</label>
                                        <input type="text" name="longitude" class="form-control"
                                            value="{{user.location.coordinates.longitude}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Offset</label>
                                        <input type="text" name="offset" class="form-control"
                                            value="{{user.location.timezone.offset}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Description</label>
                                        <input type="text" name="description" class="form-control"
                                            value="{{user.location.timezone.description}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Date of Birth</label>
                                        <input type="date" name="dateOfBirth_Date" class="form-control"
                                            value="{{user.dateOfBirth.date}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Age</label>
                                        <input type="number" name="dateOfBirth_Age" class="form-control"
                                            value="{{user.dateOfBirth.age}}" placeholder="readonly!" readonly required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Date of Registration</label>
                                        <input type="text" name="dateOfRegistration_Date" class="form-control"
                                            value="{{user.dateOfRegistration.date}}" placeholder="readonly!" readonly>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Time registred</label>
                                        <input type="text" name="dateOfRegistration_Age" placeholder="readonly!"
                                            class="form-control" value="{{user.dateOfRegistration.age}}" readonly>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Large</label>
                                        <input type="text" name="large" class="form-control"
                                            value="{{user.picture.large}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Medium</label>
                                        <input type="text" name="medium" class="form-control"
                                            value="{{user.picture.medium}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Thumbnail</label>
                                        <input type="text" name="thumbnail" class="form-control"
                                            value="{{user.picture.thumbnail}}" required>
                                    </div>
                                    <label for="validationDefault03" class="form-label mr-2">Add phone number</label>
                                    <div class="form-inline mt-2 mb-2" id="addPhone">
                                        <div class="form-group mx-sm-3 mb-2 text-dark">
                                            <input type="text" name="type" class="form-control text-dark mr-2" id="type"
                                                value="{{user.phone.type}}" required>
                                            <label for="validationDefault03" class="form-label mr-2">Phone type</label>

                                        </div>
                                        <div class="form-group mx-sm-3 mb-2">
                                            <input type="text" name="phone" class="form-control text-dark mr-2"
                                                id="phone" value="{{user.phone.number}}" required>
                                            <label for="validationDefault03" class="form-label mr-3">Phone</label>

                                        </div>

                                    </div>
                                    <div class="col-12 modal-footer">
                                        <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="/api/login">Have an account? Go to login page</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>