{{#if admin}}
<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Shops</h1>
<h5>User role: {{role}} - can add shops and new products, update and delete shops</h5>
<a href="/api/create-update-shops" class="btn btn-outline-secondary">Add new shop</a>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="shops" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Offset</th>
                <th>Description</th>
                <th>Add product</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each shops}}
            <tr class="text-center">
                <td>{{this.name}}</td>
                <td>{{this.location.street}}</a></td>
                <td>{{this.location.city}}</td>
                <td>{{this.location.state}}</td>
                <td>{{this.location.postcode}}</td>
                <td>{{this.location.coordinates.latitude}}</td>
                <td>{{this.location.coordinates.longitude}}</td>
                <td>{{this.location.timezone.offset}}</td>
                <td>{{this.location.timezone.description}}</td>
                <td><a href="/api/shops/add-product/{{this.shopId}}" class="btn btn-outline-secondary">add/shop
                        products</a>
                </td>
                <td><a href="/api/shops/update/{{this.shopId}}" class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/shops/delete/{{this.shopId}}" method="delete"
                        class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Offset</th>
                <th>Description</th>
                <th>Add product</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>
{{/if}}

{{#if seller}}
<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Shops</h1>
<h5>User role: {{role}} - can only add new products, but cant update, delete or add shops</h5>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="shops" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Offset</th>
                <th>Description</th>
                <th>Add product</th>
            </tr>
        </thead>
        <tbody>
            {{#each shops}}
            <tr class="text-center">
                <td>{{this.name}}</td>
                <td>{{this.location.street}}</a></td>
                <td>{{this.location.city}}</td>
                <td>{{this.location.state}}</td>
                <td>{{this.location.postcode}}</td>
                <td>{{this.location.coordinates.latitude}}</td>
                <td>{{this.location.coordinates.longitude}}</td>
                <td>{{this.location.timezone.offset}}</td>
                <td>{{this.location.timezone.description}}</td>
                <td><a href="/api/shops/add-product/{{this.shopId}}" class="btn btn-outline-secondary">add/shop
                        products</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Offset</th>
                <th>Description</th>
                <th>Add product</th>
            </tr>
        </tfoot>
    </table>
</div>
{{/if}}

{{#if buyer}}
<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Shops</h1>
<h5>User role: {{role}} - can't add new shops or new products, or update and delete</h5>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="shops" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Offset</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each shops}}
            <tr class="text-center">
                <td>{{this.name}}</td>
                <td>{{this.location.street}}</a></td>
                <td>{{this.location.city}}</td>
                <td>{{this.location.state}}</td>
                <td>{{this.location.postcode}}</td>
                <td>{{this.location.coordinates.latitude}}</td>
                <td>{{this.location.coordinates.longitude}}</td>
                <td>{{this.location.timezone.offset}}</td>
                <td>{{this.location.timezone.description}}</td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Offset</th>
                <th>Description</th>
            </tr>
        </tfoot>
    </table>
</div>
{{/if}}