{{#if admin}}
<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>TVs</h1>
<h5>User role: {{role}} - can add items to cart, update and delete</h5>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="tvs" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Product type</th>
                <th>Subtype</th>
                <th>Screen type</th>
                <th>Screen diagonal</th>
                <th>Resolution</th>
                <th>Digital tuner</th>
                <th>Operative system</th>
                <th>Tags</th>
                <th>Price</th>
                <th>Add to cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each tvs}}
            <tr class="text-center">
                <td>{{this.manufacturer}}</td>
                <td>{{this.type}}</a></td>
                <td>{{this.productType}}</td>
                <td>{{this.subtype}}</td>
                <td>{{this.screenType}}</td>
                <td>{{this.screenDiagonal}} GB</td>
                <td>{{this.resolution}} GB</td>
                <td>{{this.digitalTuner}}</td>
                <td>{{this.operativeSystem}}</td>
                <td>
                    {{#each this.tags}}
                    <a href="#" class="w-100 alert alert-primary rounded p-0">{{this}}</a>
                    {{/each}}
                </td>
                <td>{{this.price}}</td>
                <td><a href="/cart/update/tv/{{this.tvId}}" class="btn btn-outline-secondary">add to cart</a>
                </td>
                <td><a href="/api/tvs/update/{{this.tvId}}" class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/tvs/delete/{{this.tvId}}" method="delete" class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <th>Manufacturer</th>
            <th>Type</th>
            <th>Product type</th>
            <th>Subtype</th>
            <th>Screen type</th>
            <th>Screen diagonal</th>
            <th>Resolution</th>
            <th>Digital tuner</th>
            <th>Operative system</th>
            <th>Tags</th>
            <th>Price</th>
            <th>Add to cart</th>
            <th>Update</th>
            <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>
{{/if}}
{{#if seller}}
<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>TVs</h1>
<h5>User role: {{role}} - can add items to cart, update and delete</h5>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="tvs" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Product type</th>
                <th>Subtype</th>
                <th>Screen type</th>
                <th>Screen diagonal</th>
                <th>Resolution</th>
                <th>Digital tuner</th>
                <th>Operative system</th>
                <th>Tags</th>
                <th>Price</th>
                <th>Add to cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each tvs}}
            <tr class="text-center">
                <td>{{this.manufacturer}}</td>
                <td>{{this.type}}</a></td>
                <td>{{this.productType}}</td>
                <td>{{this.subtype}}</td>
                <td>{{this.screenType}}</td>
                <td>{{this.screenDiagonal}} GB</td>
                <td>{{this.resolution}} GB</td>
                <td>{{this.digitalTuner}}</td>
                <td>{{this.operativeSystem}}</td>
                <td>
                    {{#each this.tags}}
                    <a href="#" class="w-100 alert alert-primary rounded p-0">{{this}}</a>
                    {{/each}}
                </td>
                <td>{{this.price}}</td>
                <td><a href="/cart/update/tv/{{this.tvId}}" class="btn btn-outline-secondary">add to cart</a>
                </td>
                <td><a href="/api/tvs/update/{{this.tvId}}" class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/tvs/delete/{{this.tvId}}" method="delete" class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <th>Manufacturer</th>
            <th>Type</th>
            <th>Product type</th>
            <th>Subtype</th>
            <th>Screen type</th>
            <th>Screen diagonal</th>
            <th>Resolution</th>
            <th>Digital tuner</th>
            <th>Operative system</th>
            <th>Tags</th>
            <th>Price</th>
            <th>Add to cart</th>
            <th>Update</th>
            <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>
{{/if}}
{{#if buyer}}
<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>TVs</h1>
<h5>User role: {{role}} - can add items to cart, but can't update and delete</h5>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="tvs" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Product type</th>
                <th>Subtype</th>
                <th>Screen type</th>
                <th>Screen diagonal</th>
                <th>Resolution</th>
                <th>Digital tuner</th>
                <th>Operative system</th>
                <th>Tags</th>
                <th>Price</th>
                <th>Add to cart</th>
            </tr>
        </thead>
        <tbody>
            {{#each tvs}}
            <tr class="text-center">
                <td>{{this.manufacturer}}</td>
                <td>{{this.type}}</a></td>
                <td>{{this.productType}}</td>
                <td>{{this.subtype}}</td>
                <td>{{this.screenType}}</td>
                <td>{{this.screenDiagonal}} GB</td>
                <td>{{this.resolution}} GB</td>
                <td>{{this.digitalTuner}}</td>
                <td>{{this.operativeSystem}}</td>
                <td>
                    {{#each this.tags}}
                    <a href="#" class="w-100 alert alert-primary rounded p-0">{{this}}</a>
                    {{/each}}
                </td>
                <td>{{this.price}}</td>
                <td><a href="/cart/update/tv/{{this.tvId}}" class="btn btn-outline-secondary">add to cart</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <th>Manufacturer</th>
            <th>Type</th>
            <th>Product type</th>
            <th>Subtype</th>
            <th>Screen type</th>
            <th>Screen diagonal</th>
            <th>Resolution</th>
            <th>Digital tuner</th>
            <th>Operative system</th>
            <th>Tags</th>
            <th>Price</th>
            <th>Add to cart</th>
            </tr>
        </tfoot>
    </table>
</div>
{{/if}}