<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>

<h1>Users</h1>
<a href="/api/register" class="btn btn-outline-secondary mb-2">Register new user</a>
<div class="container text-dark bg-white rounded p-2">
    <table id="users" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Username</th>
                <th>Gender</th>
                <th>Role</th>
                <th>Email</th>
                <th>Nationality</th>
                <th>Title</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Adress latitude</th>
                <th>Adress longitude</th>
                <th>Timezone offset</th>
                <th>Timezone description</th>
                <th>Date of birth</th>
                <th>Age</th>
                <th>Date of registration</th>
                <th>Time registred</th>
                <th>Large picture</th>
                <th>Medium picture</th>
                <th>Thumbnail picture</th>
                <th>Phone type</th>
                <th>Phone number</th>
                <th>Show cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>
                    {{this.username}}
                </td>
                <td>
                    {{this.gender}}
                </td>
                <td>
                    {{this.role}}
                </td>
                <td>
                    {{this.email}}
                </td>
                <td>
                    {{this.nationality}}
                </td>
                <td>
                    {{this.name.title}}
                </td>
                <td>
                    {{this.name.firstName}}
                </td>
                <td>
                    {{this.name.lastName}}
                </td>
                <td>
                    {{this.location.street}}
                </td>
                <td>
                    {{this.location.city}}
                </td>
                <td>
                    {{this.location.state}}
                </td>
                <td>
                    {{this.location.postcode}}
                </td>
                <td>
                    {{this.location.coordinates.latitude}}
                </td>
                <td>
                    {{this.location.coordinates.longitude}}
                </td>
                <td>
                    {{this.location.timezone.offset}}
                </td>
                <td>
                    {{this.location.timezone.description}}
                </td>
                <td>
                    {{this.dateOfBirth.date}}
                </td>
                <td>
                    {{this.dateOfBirth.age}}
                </td>
                <td>
                    {{this.dateOfRegistration.date}}
                </td>
                <td>
                    {{this.dateOfRegistration.age}}
                </td>
                <td>
                    {{this.picture.large}}
                </td>
                <td>
                    {{this.picture.medium}}
                </td>
                <td>
                    {{this.picture.thumbnail}}
                </td>
                <td>
                    {{this.phone.type}}
                </td>
                <td>
                    {{this.phone.number}}
                </td>
                <td><a href="/cart/{{this.userId}}" class="btn btn-outline-secondary">cart</a>
                </td>
                <td><a href="/api/users/update/{{this.userId}}" class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/users/delete/{{this.userId}}" method="delete"
                        class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Username</th>
                <th>Gender</th>
                <th>Role</th>
                <th>Email</th>
                <th>Nationality</th>
                <th>Title</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Adress latitude</th>
                <th>Adress longitude</th>
                <th>Timezone offset</th>
                <th>Timezone description</th>
                <th>Date of birth</th>
                <th>Age</th>
                <th>Date of registration</th>
                <th>Time registred</th>
                <th>Large picture</th>
                <th>Medium picture</th>
                <th>Thumbnail picture</th>
                <th>Phone type</th>
                <th>Phone number</th>
                <th>Show cart</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>